.navbar2-wrapper {
  display: contents;
}
 
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.navbar2-image1 {
  height: 3rem;
}
 
.navbar2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-burger-menu {
  display: none;
}
 
.navbar2-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar2-logo {
  height: 3rem;
}
 
.navbar2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar2-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
  font-size: 24px;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar2-desktop-menu {
    display: none;
  }
  .navbar2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar2-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.gallery2-wrapper {
  display: contents;
}
 
.gallery2-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery2-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery2-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery2-text1 {
  text-align: center;
}
 
.gallery2-text2 {
  text-align: center;
}
 
.gallery2-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery2-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery2-image1 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery2-image2 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery2-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery2-image3 {
  width: 100%;
  max-width: 600px;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment8 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.gallery2root-class-name {
  height: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
}
 
@media(max-width: 991px) {
  .gallery2-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery2-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-image3 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 479px) {
  .gallery2-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-header1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
  font-size: 24px;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-hero {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 140px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 160px;
}
 
.home-header2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text16 {
  color: rgb(39, 39, 45);
  width: auto;
  font-size: 44px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 400;
}
 
.home-image1 {
  width: 24px;
  height: 40px;
  display: flex;
  object-fit: cover;
}
 
.home-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
 
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-information {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  align-items: flex-start;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 140px;
  border-top-width: 1px;
}
 
.home-purpose {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-caption1 {
  color: #27272D;
  letter-spacing: 5%;
  text-transform: uppercase;
}
 
.home-description {
  color: rgb(39, 39, 45);
  width: 100%;
  height: 100%;
  font-size: 24px;
  max-width: 100%;
  align-self: center;
  max-height: 100%;
  text-align: left;
  line-height: 54px;
}
 
.home-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
 
.home-image3 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
 
.home-caption2 {
  color: rgb(39, 39, 45);
}
 
.home-container4 {
  width: 100px;
  height: 100%;
  display: grid;
  min-width: 1000px;
  align-self: center;
  min-height: 200px;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.home-container5 {
  width: 100%;
  height: 200px;
  display: flex;
  min-width: auto;
  min-height: auto;
  align-items: flex-start;
  justify-content: center;
}
 
.home-image4 {
  width: 200px;
  height: 100%;
  min-width: auto;
  min-height: auto;
  object-fit: cover;
}
 
.home-container6 {
  width: 100%;
  height: 200px;
  display: flex;
  min-width: auto;
  min-height: auto;
  align-items: center;
  justify-content: center;
}
 
.home-image5 {
  width: 200px;
  height: 100%;
  min-width: auto;
  min-height: auto;
  object-fit: cover;
}
 
.home-container7 {
  width: 100%;
  height: 200px;
  display: flex;
  min-width: auto;
  min-height: auto;
  align-items: center;
  justify-content: center;
}
 
.home-image6 {
  width: 200px;
  height: 100%;
  min-width: auto;
  align-self: center;
  min-height: auto;
  object-fit: cover;
}
 
.home-caption3 {
  color: #27272D;
  letter-spacing: 5%;
  text-transform: uppercase;
}
 
.home-book {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #48B5DC;
}
 
.home-content1 {
  width: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-left {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text17 {
  width: auto;
  height: auto;
  line-height: 65px;
}
 
.home-button {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
}
 
.home-navlink {
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-image7 {
  width: auto;
  height: auto;
  align-self: flex-end;
  object-fit: cover;
}
 
.home-section {
  width: auto;
  align-items: center;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
  padding-bottom: 0px;
  background-color: var(--dl-color-gray-white);
}
 
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
 
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-caption4 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  letter-spacing: 5%;
  text-transform: uppercase;
}
 
.home-statistics {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
 
.home-statistic1 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text18 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text19 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-statistic2 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text20 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text21 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-statistic3 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text22 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text23 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-statistic4 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text24 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text25 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment8 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.home-header4 {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
 
.home-branding {
  color: rgb(39, 39, 45);
}
 
.home-content2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
 
.home-contact {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-email {
  color: rgb(39, 39, 45);
}
 
.home-number {
  color: rgb(39, 39, 45);
}
 
.home-links-row {
  gap: 128px;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.home-link1 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-link1:hover {
  opacity: 0.7;
}
 
.home-link2 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-link2:hover {
  opacity: 0.7;
}
 
.home-link3 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link3:hover {
  opacity: 0.7;
}
 
.home-link4 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link4:hover {
  opacity: 0.7;
}
 
.home-link5 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-link5:hover {
  opacity: 0.7;
}
 
@media(max-width: 991px) {
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text16 {
    font-size: 32px;
  }
  .home-image1 {
    display: none;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
    border-top-width: 0px;
  }
  .home-purpose {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption1 {
    font-size: 12px;
  }
  .home-description {
    font-size: 16px;
    line-height: 28px;
  }
  .home-caption2 {
    font-size: 12px;
  }
  .home-caption3 {
    font-size: 12px;
  }
  .home-book {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text17 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-navlink {
    font-size: 16px;
  }
  .home-image7 {
    height: 220px;
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption4 {
    font-size: 12px;
  }
  .home-statistics {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text18 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text19 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text20 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text21 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text22 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text23 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text24 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text25 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-header4 {
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-branding {
    font-size: 30px;
  }
  .home-content2 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-email {
    font-size: 24px;
  }
  .home-number {
    font-size: 24px;
  }
  .home-links-row {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-image3 {
    min-width: auto;
    min-height: auto;
  }
}
 
@media(max-width: 479px) {
  .home-image7 {
    align-self: center;
  }
  .home-branding {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .home-contact {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .home-links-row {
    min-width: 100%;
    min-height: 100%;
  }
}
